{% extends 'base.html' %}
{% load crispy_forms_tags %}

<style>
    {% block style %}
    .navbar-static-top{
        margin-bottom: 0px !important;
    }

    .jumbotron{
        background-color:#155A1E;
        color: #FFFFFF;

        {% if featured_image.make_image_background %}
        background-image : url("{{ featured_image.image.url }}");
        background-repeat : no-repeat;
        background-color : #000;
        background-size : cover;
        background-position-y : -222px;
        {% if featured_image.text_css_color %}
        color: #{{featured_image.text_css_color }};
        {% endif %}
        {% endif %}
    }
    {% endblock %}

</style>

{% block jumbotron %}


{% if  featured_image %}
<div class="jumbotron" >
    <div class="container">
        <div class="row">
                <div class="col-sm-12 text-center {% if featured_image.text_right %} pull-right {% endif %}">
                <h1>{{ featured_image.product.title }}</h1>

                <p>{{ featured_image.product.description }}</p>
                <p>
                        <a class="btn btn-lg btn-primary" href="{{ featured_image.product.get_absolute_url }}" role="button">More Details</a>
                </p>
            </div>
            {% if not featured_image.make_image_background %}
            <div class="col-sm-6" >

                <img src="{{ featured_image.image.url }}" class="img-responsive" />
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
                <div class="col-sm-6">
                <h1>Hello! Navbar example</h1>

                <p>This is a example MVP Landing.</p>
                <p>
                        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
                </p>
            </div>
            <div class="col-sm-6" >
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Pm90L_xy9G4" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock%}

{% block content %}

<div class="row">
    <h3>Recommended Products</h3>
    {% include 'products/products.html' with object_list=products col_class_set="col-sm-2" %}
</div>

<div class="row">
    <h3>Featured Products</h3>
    {% include 'products/products.html' with object_list=products2  %}
</div>

<!--{% if request.user.is_authenticated %}

<h1> You are Logged in!</h1>
{{ queryset }}
{% else %}

<div class="row">
    <div class=" col-sm-3 pull-right">
        <p class="lead text-align-center">{{ title }}</p>

        <form method="POST" action="">{% csrf_token %}
            {{ form | crispy }}
            <input class="btn btn-primary" type="submit" value="Sign Up" />
        </form>
    </div>
    <div class="col-sm-3 text-align-center">
        <p class="lead">Django &amp; Bootstrap
            <br><br>
            <i class="fa  fa-bolt fa-5x"></i>
        </p>

    </div>
    <div class="col-sm-3 text-align-center">
        <p class="lead">Create for Starters
            <span class="fa-stack fa-lg fa-5x">
                <i class="fa fa-comment-o fa-stack-2x"></i>
                <i class="fa fa-bolt fa-stack-1x"></i>
            </span>
        </p>
    </div>
    <div class="col-sm-3 text-align-center">
        <p class="lead">Always Open Source
        <br>
            <span class="fa-stack fa-lg fa-5x">
                <i class="fa fa-comment-o fa-stack-2x"></i>
                <i class="fa fa-bolt fa-stack-1x"></i>
            </span>
        </p>
    </div>
</div>
{% endif %} -->
{% endblock %}